providers = ["python"]

[phases.setup]
nixPkgs = ["...", "nodejs"]

[phases.install]
cmds = [
    "pip install -r backend/requirements.txt",
    "cd frontend && npm ci"
]

[phases.build]
cmds = ["cd frontend && npm run build"]

[start]
cmd = "bash start.sh"
